* {
  margin: 0;
  padding: 0;
}

nav {
  display: flex;
  justify-content: space-around;
  background-color: blue;
  color: white;
  align-items: center;
  height: 50px;
}

ul {
  width: 50%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style: none;
}

h3,
li {
  color: white;
}
